


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bare - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">


    <!-- Custom CSS -->
    
    <style>
#makeMeDraggable { width: 300px; height: 300px; background: red; }
</style>
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }

    </style>
    <!-- Style that should go in a separate file at some point -->
    <style>
        .draggable { width: 220px; height: 300px; padding: 5px; float: left; margin: 0 10px 10px 0; font-size: .9em; background: transparent;border:none;}
        /*.ui-widget-header p, .ui-widget-content p { margin: 0; }*/
        /*#snaptarget { height: 200px;width:900px;}*/
    </style>
    
        <!-- jQuery Version 1.11.1 -->
    <script src="javascripts/jquery.js"></script>
<!--    <script src="//code.jquery.com/jquery-1.10.2.js"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    
    
    <!-- Script that should go in a separate file at some point -->
    <script>
      $(function() {
        $(".robo_param").hide();

        $( ".draggableDiv" ).draggable({ axis: "x", containment: ".task-steps", scroll:true });//.draggable({ snap: ".ui-widget-header", snapMode: "inner" });
      });
        
          $(document).ready(function(){
            $('#AddDiv').click(function(){
               $('#draggables').append(            "<div id='draggable3' class='draggable ui-widget-content draggableDiv'><p>I only snap to the innner edges of the big boxes</p></div>");
            });
          });
//        $("input[type=submit]").click(function(){
//            $('#draggables').append('<div>the new guy</div>');
//        }) 
    </script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Model</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="refine">Refine</a>
                    </li>
                    <li>
                        <a href="#">Train</a>
                    </li>
                    <li>
                        <a href="#">Present</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Hello! </h1>
                <p class="lead">This is the model tab.</p>
                <ul class="list-unstyled">
                    <li>Bootstrap v3.3.1</li>
                    <li>jQuery v1.11.1</li>
                </ul>
            </div>
        </div>
        <!-- /.row -->
        <div id="my_container">
            <div style="width:100px;height:auto;float:left">
                <br> <br> <br> <!-- TODO: this is a cheap tactic -->
                <div class="header_rotate" style="font-size:x-large;width:100px;"> <p> Task Steps </p></div>
                <br><br><br><br><br><br><br><br> <!-- TODO: this is still a cheap tactic -->
                <div class="header_rotate" style="font-size:x-large;width:100px"> <p> Skills & Tools </p></div>
            </div>
            <div class="task-steps" style="overflow-x:scroll;overflow-y:visible">
                <div style="width:5000px;overflow-y:visible"> <!-- TODO: this width / overflow thing is a little hacky -->
                <!-- <p> Tasks </p> -->
                <% tasks.forEach( function( task ){ %>
                     <div id="<%= task.id %>" class="draggable ui-widget-content draggableDiv " style="float:left;position:static"> <!--id used to be draggable3-->
                        <div>
                          <a href="/destroy/<%= task.id %>" title="Delete">Delete</a>
                        </div>
                        <br>
                        <div style="border-style: solid;background:white">
                            <p>ID: <%= task.id %> <br>Description: <%= task.descript %><br>Duration: <%= task.duration %> <br>Skills: <%= task.skills %><br>Tools: <%= task.tools %><br>Parents: <%= task.parents %><br>Arm: <%= task.arm %><br>Grasp Effort: <%= task.grasp_effort %></p>
                        </div>
     <!--                    <div style="position:relative">
                            <div style="position:absolute;border-style:none solid none none;width:80px;height:70px" class=".col-md-4"></div>
                            <div style="position:absolute;top:70px;height:20px;width:80px;border-style:solid;background:white" class=".col-md-4"><%= task.skills %></div>
                            <div style="position:absolute;left:80px;height:50px;width:40px;border-style: none solid none none;" class=".col-md-4"></div>
                            <% task.skills.forEach( function( skill ){ %>
                            <div style="position:absolute;left:118px;top:40px;height:20px;width:80px;border-style:solid;background:white" class=".col-md-4"><%= skill %></div>
                             <% }); %>
                        </div> -->
       <!--                  <div class="row" style="border-style:solid">
                            <div class="col-md-3">hi</div>
                            <div class="col-md-6">hi</div>
                            <div class="col-md-3">hi</div>
                        </div> -->
                        <div style="position:relative">
                           <table style="width:100%;">
                              <tr >
                                <td style="width:80px;">
                                    <div style="height:70px;">  
                                    </div>
                                    <% task.tools.forEach( function( tool ){ %>
                                        <div class="tools-arrow"> <%= tool %>
                                        </div>
                                    <% }); %>
                                </td>
                                <td style="width:40px;background:gray">
                                </td> 
                                <td style="width:80px">
                                    <div style="height:90px"> 
                                    </div>
                                    <% task.skills.forEach( function( skill ){ %>
                                        <div class="skills-arrow"> <%= skill %>
                                        </div>
                                    <% }); %>
                                </td>
                              </tr>
                              
                            </table>
                        </div>
                    </div>
                <% }); %>
                </div>
            </div>
        </div>
        <br>
       <!--  <div id="snaptarget" class="ui-widget-header" style="clear:both;float:left">
            <p> Skills and Tools </p>
        </div> -->
                

    

        <br><br><br>
        <form action="/create" method="post" accept-charset="utf-8" style="clear:both">
            Task Description: <br>
                <!-- <input type="text" name="descript" /> <br> -->
  <!--               <select name="descript">
                    <option value="grasp">Grasp</option>
                    <option value="move">Move</option>
                    <option value="ungrasp">Ungrasp</option>
                </select><br> -->
                <select id="task-choice" name="descript">
                    <option selected value="base">Please Select</option>
                    <option value="grasp">Grasp</option>
                    <option value="hold">Hold</option>
                    <option value="release_load">Release Load</option>
                </select>
            <br>
            <div id="arm" class="robo_param">
                Arm: <br>
                    <input type="text" name="arm" /> <br>
            </div>
            <div id="duration" class="robo_param">
                Duration: <br>
                    <input type="text" name="duration" /> <br>
            </div>
            <div id="grasp_effort" class="robo_param">
                Grasp Effort: <br>
                    <input type="text" name="grasp_effort" /> <br>
            </div>
           <!--  Skills: <br>
                <input type="checkbox" name="skills[]" value="move"> Move
                <br>
                <input type="checkbox" name="skills[]" value="rotate"> Rotate
                <br>
            Tools: <br>
                <input type="checkbox" name="tools[]" value="rotator"> Rotator
                <br>
                <input type="checkbox" name="tools[]" value="fastener"> Fastener
                <br> -->
            Parents: <br>
                <% tasks.forEach( function( task ){ %>
                    <input type="checkbox" name="parents[]" value="<%= task.id %>"> <%= task.id %>
                    <br>
                <% }); %>


            <input type="submit" value="Submit">
        </form> <br> <br>

        <div>
            <a href="/exports" title="Exports">Export All Tasks</a>
        </div>
        <div>
            <a href="/imports" title="Imports">Import All Tasks</a>
        </div>
        <div>
            <a href="/sendtasks" title="SendTasks">Send Tasks to Robot</a>
        </div>

        <br style="clear:both">
        <button onclick="taskInventory()">Get Task Inventory</button>
        <br>

        <div ID="taskInventoryList">
            List starts here
        </div>

    </div>
    <!-- /.container -->

        <script>
        $("#task-choice").change(function() {
        
    var $dropdown = $(this);
console.log("Hi");
    $.getJSON("json_data/dropdown_choices.json", function(data) { 
        console.log("Hi2");
        var key = $dropdown.val();
        var vals = [];
// console.log("Hi");
        switch(key) {
            case 'grasp':
                vals = data.grasp.split(",");
                // console.log("grasp");
                break;
            case 'hold':
                vals = data.hold.split(",");
                break;
            case 'release_load':
                vals = data.release_load.split(",");
                break;
            case 'base':
                vals = ['Please choose from above'];
        }
        
        var $secondChoice = $("#second-choice");
        $(".robo_param").hide();
        // $secondChoice.empty();
        $.each(vals, function(index, value) {
            $("#"+value).show();
            // $secondChoice.append("<option>" + value + "</option>");
        });

    });
});
</script>    

<script>
function taskInventory() {    //<!-- should  probably do this with database? just iterate over tasks? -->
    var divs = document.getElementsByClassName("draggable");
    var div2 = document.getElementById("taskInventoryList");
    var divsList = []
    div2.innerHTML = "List starts here"
    for(var i = 0; i < divs.length; i++){
        divsList.push([divs[i].id, divs[i].getBoundingClientRect().left]);
        // div2.innerHTML += "<br>" + divs[i].id + ", " + divs[i].getBoundingClientRect().left;
    }  
    divsList.sort(function(a,b) {return a[1] > b[1]; });
    console.log(divsList);
    for(var i = 0; i < divsList.length; i++){
        div2.innerHTML += "<br>" +divsList[i];
    }

}

</script>


</body>

</html>
